.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: 0px;
}

.grid-btn-container {
  display: grid;
  grid-template-columns: repeat(9, 5vw);
  grid-template-rows: repeat(9, 5vw);
  grid-column: 2;
  grid-row: 2;
  grid-gap: 0px;
}

.grid-item-btn {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  background-color: white;
}

.grid-item-btn-active {
  background-color: black;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  outline: none;
}

#grid-question {
  padding-bottom: 2em;
}

#grid-prompt {
  padding-top: 2em;
}

.required {
  color: darkred;
}

.jspsych-survey-multi-choice-question {
  padding-inline-end: 30px;
  padding-inline-start: 30px;
}

/* grid labels */
.label {
  position: relative;
  display: block;
  color: black;
  padding: 10px;
  margin: 0;
  border: 0;
  font-size: 3vw;
  line-height: 1.5;
}

.sublabel {
  position: relative;
  display: block;
  color: black;
  padding: 10px;
  margin: 0;
  border: 0;
  font-size: 2vw;
  line-height: 1.5;
}

/* labels */

#arousal {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  align-self: end;
  white-space: nowrap;
}

#unpleasant {
  grid-column: 1;
  grid-row: 2;
  text-align: right;
  margin: auto 0;
}

#pleasant {
  grid-column: 3;
  grid-row: 2;
  text-align: left;
  margin: auto 0;
}

#sleepiness {
  grid-column: 2;
  grid-row: 3;
  text-align: center;
}

/* sub-labels */

#stress {
  grid-column: 1;
  grid-row: 1;
  text-align: right;
  align-self: end;
}

#excitement {
  grid-column: 3;
  grid-row: 1;
  text-align: left;
  align-self: end;
}

#depression {
  grid-column: 1;
  grid-row: 3;
  text-align: right;
}

#relaxation {
  grid-column: 3;
  grid-row: 3;
}

#mapid {
  height: 60vh;
  width: 80vw;
}

#jspsych-location-form {
  padding: 20px;
}

#jspsych-survey-likert-preamble {
  padding: 20px;
}
