.grid-container {
  display: grid;
  grid-template-columns: repeat(9, 6vw);
  grid-template-rows: repeat(9, 6vw);
  background-color: white;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  margin-top: 11vw;
  margin-bottom: 11vw;
}

.grid-item-btn {
  background-color: white;
  border: 1px solid black;
  padding: 0px;
  width: 100%;
  height: 100%;
  margin: 0px;
}

.grid-item-btn-active {
  background-color: black;
  border: 1px solid black;
  padding: 0px;
  width: 100%;
  height: 100%;
  margin: 0px;
  outline: none;
}

#grid-question {
  padding-bottom: 2em;
}

#grid-prompt {
  padding-top: 2em;
}

.required {
  color: darkred;
}

.jspsych-survey-multi-choice-question {
  padding-inline-end: 30px;
  padding-inline-start: 30px;
}

/* grid labels */
.label {
  position: relative;
  display: block;
  color: black;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 3vw;
}

#stress {
  top: -6vw;
  left: -11vw;
  font-size: 2vw;
}

#arousal {
  top: -6vw;
  left: -6vw;
  white-space: nowrap;
}

#excitement {
  top: -6vw;
  left: 8vw;
  font-size: 2vw;
}

#unpleasant {
  left: -17vw;
  top: -0vw;
}

#pleasant {
  left: 7vw;
  top: 0px;
}

#depression {
  top: 6vw;
  left: -17vw;
  font-size: 2vw;
}

#sleepiness {
  top: 6vw;
  left: -5vw;
}

#relaxation {
  top: 6vw;
  left: 8vw;
  font-size: 2vw;
}

#mapid {
  height: 60vh;
  width: 80vw;
}

#jspsych-location-form {
  padding: 20px;
}

#jspsych-survey-likert-preamble {
  padding: 20px;
}
